@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

@media only screen and (max-width: 600px) {
    .music-tiles{
        width: calc(100%  - 32px) !important;
    }
}

body, html{
    background-color: #0B0A25;
    color: white;
    text-align: center;
    font-family: "Bitter";
}

button{
    outline: none;
    border: none;
    background-color: #181844;
    padding: 8px 16px;
    color: white;
    font-family: "Bitter";
    cursor: pointer;
    transition: background-color 200ms;
}

button:hover{
    background-color: #211F60;
}

.title-container > .title{
    margin-bottom: 0;
}
.title-container > .type{
    margin-top: 8px;
}

.title-container{
    margin-bottom: 64px;
}

.mode-choice{
    display: inline;
    margin-inline: 8px;
    cursor: pointer;
    padding: 4px 8px;
}

.mode-choice:hover{
    background-color: #181844;
}

.chosen{
    font-weight: bold;
    background-color: #181844;
}


.music-tiles{
    width: 60%;
    margin: auto;
}

.music-tile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 24px;
}

.music-tile > .info{
    text-align: start;
    display: inline;
}

.music-tile > .info > p:nth-child(1){
    margin-block: 0;
}

.music-tile > .info > p:nth-child(2){
    font-family: "Space Mono";
    margin-block: 0;
    font-size: 12px;
}

.music-tile > .play-btn{
    display: inline;
    margin-left: 64px;
}

.music-tile:not(.pause) > .info > p:nth-child(1){
    font-weight: bold;
}
