@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@media only screen and (max-width: 600px) {
    .music-tiles{
        width: calc(100%  - 32px) !important;
    }

    .wrapper{
        width: calc(100% - 60px) !important;
        margin-left: 48px;
    }
}

:root{
    --background-color: rgb(247, 229, 229); 
    --text-color: rgb(24, 5, 5); 
    --button-color: rgb(56, 56, 56);
    --button-text-color: white;
    --primary-font: "Sora";
    --secondary-font: "Sora";
}

body, html{
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    font-family: var(--primary-font);
}

.material-icons{
    user-select: none;
}

.title{
    display: inline;
}

.type{
    font-family: var(--secondary-font);
}

button{
    outline: none;
    border: none;
    background-color: var(--button-color);
    padding: 6px 20px;
    color: var(--button-text-color);
    font-family: var(--secondary-font);
    cursor: pointer;
    transition: background-color 200ms;
    border-radius: 4px;
}

button:hover{
    filter: brightness(90%);
}

.title-container > .title{
    margin-bottom: 0;
}
.title-container > .type{
    margin-top: 8px;
}

.title-container{
    margin-bottom: 64px;
}

.mode-choice{
    display: inline;
    margin-inline: 8px;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 2px;
    user-select: none;
    font-family: var(--secondary-font);
}

.mode-choice:hover{
    filter: brightness(90%);
}

.chosen{
    font-weight: bold;
    background-color: var(--button-color);
    color: var(--button-text-color);
}


.music-tiles{
    width: 60%;
    margin: auto;
}

.music-tile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 24px;
    font-size: 20px;
}

.music-tile .info{
    text-align: start;
    display: inline;
    user-select: none;
}

/* Loo nimi */
.music-tile .info > p:nth-child(1){
    margin-block: 0;
}

/* Autori nimi */
.music-tile .info > p:nth-child(2){
    font-family: var(--secondary-font);
    margin-block: 0;
    margin-top: 6px;
    font-size: 14px;
}

.music-tile > .play-btn{
    display: inline;
    margin-left: 64px;
}

.music-tile:not(.pause) > .info > p:nth-child(1){
    color: var(--button-color);
    font-weight: bold;
}


input[type='checkbox']{
    scale: 1.5;
    accent-color: var(--text-color);
    position: absolute;
    top: 50%;
    left: -46px;
    transform: translateY(-50%);
}

.scroll-down{
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
}

input{
    font-size: 18px;
    padding: 16px;
    border-radius: 0;
    border: 1px solid black;
}