@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sedan+SC&display=swap');


@media only screen and (max-width: 600px) {
    .music-tiles{
        width: calc(100%  - 32px) !important;
    }
}

:root{
    --background-color: #C7EEFF; 
    --text-color: black; 
    --button-color: #0077C0;
    --button-text-color: white;
    --primary-font: "Sedan SC";
    --secondary-font: "Lexend";
}

body, html{
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    font-family: var(--primary-font);
}

.material-icons{
    user-select: none;
}

.title{
    display: inline;
    background: linear-gradient(90deg, rgba(0,37,255,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.type{
    font-family: var(--secondary-font);
}

button{
    outline: none;
    border: none;
    background-color: var(--button-color);
    padding: 6px 20px;
    color: var(--button-text-color);
    font-family: var(--secondary-font);
    cursor: pointer;
    transition: background-color 200ms;
    border-radius: 4px;
}

button:hover{
    filter: brightness(90%);
}

.title-container > .title{
    margin-bottom: 0;
}
.title-container > .type{
    margin-top: 8px;
}

.title-container{
    margin-bottom: 64px;
}

.mode-choice{
    display: inline;
    margin-inline: 8px;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 2px;
    user-select: none;
    font-family: var(--secondary-font);
}

.mode-choice:hover{
    filter: brightness(90%);
}

.chosen{
    font-weight: bold;
    background-color: var(--button-color);
    color: var(--button-text-color);
}


.music-tiles{
    width: 60%;
    margin: auto;
}

.music-tile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 24px;
    font-size: 20px;
}

.music-tile > .info{
    text-align: start;
    display: inline;
    user-select: none;
}

/* Loo nimi */
.music-tile > .info > p:nth-child(1){
    margin-block: 0;
}

/* Autori nimi */
.music-tile > .info > p:nth-child(2){
    font-family: var(--secondary-font);
    margin-block: 0;
    margin-top: 6px;
    font-size: 14px;
}

.music-tile > .play-btn{
    display: inline;
    margin-left: 64px;
}

.music-tile:not(.pause) > .info > p:nth-child(1){
    color: var(--button-color);
}
